{% extends "layout.html"%}

{% block pageTitle %}Explore!{% endblock %}
{% block style %}
{% endblock %}


{% block body %}
<h1> Retriving info on {{ book.title }} by {{ book.author }}</h1>

<h2>Book details</h2>
<div id="bookDetils">
	<table >
	 		<tr><td class="leftMostTable">Isbn</td><td> {{ book.isbn }}</td>
		  <tr><td class="leftMostTable">Author</td><td>  {{ book.author }}</td>
		  <tr><td class="leftMostTable">Title</td><td> {{ book.title }}</td>
			<tr><td class="leftMostTable">Year</td><td> {{ book.year }}</td>

</table>
</div>
<div id="ratings">
	{% if goodReads is defined %}
	<h2>GoodReads summary on the book</h2>
		<p>
			Goodreads rates this {{ goodReads['ratings'] }} based on {{ goodReads['reviewcount'] }} reviews.
		</p>
	{% else %}
		<p>No ratings found for this record in goodreads</p>
	{%endif%}
</div>
<div id="commnets">
	<h2>What users of this website?</h2>

	{% if comments %}
			<ul>

				{% for review in comments %}
							<li>
						{{ review.username }} wrote "{{ review.comment }}" giving it {{ review.stars }} out 5,  at {{ review.created_on}}
							</li>
				{% endfor %}

			</ul>
	{% else %}
		<p>No comments from our readers to display</p>
	{%endif%}
	</div>
<div id="comment_submit" >
<form action="{{ url_for('booksearch',book_isbn=book.isbn) }}" method="post"
name="commentForm">
  <textarea name="comment" rows="10" cols="30" placeholder="Put comment here"></textarea>
  <br>
  <input type="submit" value="Submit">
	<select required id="starRating" name = "starRating" from="commentForm">
	   <option value="1">1 Star</option>
	   <option value="2">2 Star</option>
	   <option selected="selected" value="3">3 Star</option>
	   <option value="4">4 Star</option>
	   <option value="5">5 Star</option>
	 </select >
</form>

<p> Go back to <a href="{{ url_for('search') }}">search</a>	</p>

{% endblock %}
