{% extends "layout.html"%}

{% block pageTitle %}Welcome!{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/generalstyle.css') }}"/>
<script src="{{ url_for('static',filename='js/welcome.js') }}"/></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
{% endblock %}
{% block body %}
<h1> Welcome to chatroom {{ session['username']}}</h1>
<h2> Chatrooms </h2>
<p1>
	<ul id="chatrooms">
		{% for chatroomname in chatrooms %}
				<li>
						<a href="{{ url_for('getchatrooms', chatroom=chatroomname) }}">
									{{ chatroomname }} by {{ chatrooms[chatroomname] }}
						</a>
				</li>
		{% endfor %}
	</ul>
</p1>
<p1>

<input id="chatroomname" name="chatroomname" placeholder="Chatroom name" type="text">
<button id='createchatroombtn' name='btn'>Create</button>
	<form id = "backform" method = "POST" action = "/welcome">
	<input name='btn' type='Submit' value="Refresh">
	<input name='btn' type='Submit' value="Back">
	</form>
</p1>
{% endblock %}
